/*
This style is made by FIMARx.

Dm my discord for help. FIMARx#1321

Sub to my youtube channel https://www.youtube.com/channel/UCLxuarUbS3qzUy2SpLf3WEg

Join my discord server https://discord.gg/xC3ZrYXqnM
*/
/* === Account Overview  === */
/* == Rainbow Spotify Logo == */
.svelte-1gcdbl9 {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}

/* ==  Profile informtaion == */
.Type__TypeElement-sc-9snywk-0,
.jzaYYa,
.Page__title--TbL6e {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* =  Information bold text = */
.XavQL {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* =  Buttons etc... = */
.CTA__secondary--FVl7a {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* ==  Menu for your profile == */
/* =  User icon = */
.sidebar .user-icon,
.Menu__userIcon--1JcsY {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

/* =  Text in menu = */
.Menu__menuLink--3F9Kb {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* =  Icons in menu = */
.nav-tabs.nav-stacked svg,
.Menu__icon--2YGXY {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}

/* = Active menu background = */
.Menu__active--30Fs0 {
    color: white;
    animation: backgroundli 5s linear 0s infinite alternate;
}

/* == Premium information == */
/* =  background color = */
.sc-cxFLnm,
.hzeuvL {
    color: white;
    animation: backgroundli 5s linear 0s infinite alternate;
}

/* =  purchase premium button = */
.jVBKEP {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

/* =  Links, and premium information text = */
.sc-iktFzd,
.gaGeRK,
.cUkLrH a {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* == Premium subscription == */
/* = Background color = */
.cNRKYC {
    background: black;
}

/* = text RGB = */
.cNRKYC {
    background: black;
}

.sc-hKgILt,
.ktdUVV {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === Hover === */
/* = Profile picture = */
.svelte-8gzfq1 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Profile settings = */
.svelte-kdyqkb {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Hover buttons = */
.mh-header-primary,
.svelte-vf0pv9 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === Socials === */
/* = Instagram = */
.mh-social-icon-instagram {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Twitter = */
.mh-social-icon-twitter {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Facebook = */
.mh-social-icon-facebook {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === County and li down === */
.mh-country,
.mh-footer-secondary,
.mh-compact,
.svelte-1ouzkfx {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === © 2020 Spotify AB === */
.svelte-1so9ic8 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === li text === */
.svelte-12h6dnj {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}






/* KeyFrames for text */
@keyframes text {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

/* KeyFrames for backgrounds */
@keyframes background {
    100%,
    0% {
        background-color: rgb(255, 0, 0);
    }

    8% {
        background-color: rgb(255, 127, 0);
    }

    16% {
        background-color: rgb(255, 255, 0);
    }

    25% {
        background-color: rgb(127, 255, 0);
    }

    33% {
        background-color: rgb(0, 255, 0);
    }

    41% {
        background-color: rgb(0, 255, 127);
    }

    50% {
        background-color: rgb(0, 255, 255);
    }

    58% {
        background-color: rgb(0, 127, 255);
    }

    66% {
        background-color: rgb(0, 0, 255);
    }

    75% {
        background-color: rgb(127, 0, 255);
    }

    83% {
        background-color: rgb(255, 0, 255);
    }

    91% {
        background-color: rgb(255, 0, 127);
    }
}

/* Transparent rainbow background */
@keyframes backgroundli {
    0% {
        background-color: #ff000042;
    }

    10% {
        background-color: #ff800042;
    }

    20% {
        background-color: #ffff0042;
    }

    30% {
        background-color: #80ff0042;
    }

    40% {
        background-color: #00ff0042;
    }

    50% {
        background-color: #00ff8042;
    }

    60% {
        background-color: #00ffff42;
    }

    70% {
        background-color: #0080ff42;
    }

    80% {
        background-color: #0000ff42;
    }

    90% {
        background-color: #8000ff42;
    }

    100% {
        background-color: #ff008042;
    }
}

/* KeyFrames for fills */
@keyframes fill {
    100%,
    0% {
        fill: rgb(255, 0, 0);
    }

    8% {
        fill: rgb(255, 127, 0);
    }

    16% {
        fill: rgb(255, 255, 0);
    }

    25% {
        fill: rgb(127, 255, 0);
    }

    33% {
        fill: rgb(0, 255, 0);
    }

    41% {
        fill: rgb(0, 255, 127);
    }

    50% {
        fill: rgb(0, 255, 255);
    }

    58% {
        fill: rgb(0, 127, 255);
    }

    66% {
        fill: rgb(0, 0, 255);
    }

    75% {
        fill: rgb(127, 0, 255);
    }

    83% {
        fill: rgb(255, 0, 255);
    }

    91% {
        fill: rgb(255, 0, 127);
    }
}
