/*
This style is made by FIMARx.

Dm my discord for help. FIMARx#1321

Sub to my youtube channel https://www.youtube.com/channel/UCLxuarUbS3qzUy2SpLf3WEg

Join my discord server https://discord.gg/xC3ZrYXqnM
*/
/* === Account Overview  === */
/* == Rainbow Spotify Logo == */
.svelte-1gcdbl9 {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}

/* ==  Profile informtaion == */
.Type__TypeElement-sc-9snywk-0,
.jzaYYa,
.Page__title--TbL6e {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* =  Information bold text = */
.XavQL {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* =  Buttons etc... = */
.CTA__secondary--FVl7a {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* ==  Menu for your profile == */
/* =  User icon = */
.sidebar .user-icon,
.Menu__userIcon--1JcsY {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

/* =  Text in menu = */
.Menu__menuLink--3F9Kb {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* =  Icons in menu = */
.nav-tabs.nav-stacked svg,
.Menu__icon--2YGXY {
    color: white;
    animation: fill 5s linear 0s infinite alternate;
}

/* == Premium information == */
/* =  background color = */
.sc-cxFLnm,
.hzeuvL {
    color: white;
    animation: backgroundli 5s linear 0s infinite alternate;
}

/* =  purchase premium button = */
.jVBKEP {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

/* =  Links, and premium information text = */
.sc-iktFzd,
.gaGeRK,
.cUkLrH a {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* == Premium subscription == */
/* = Background color = */
.cNRKYC {
    background: black;
}

/* = text RGB = */
.cNRKYC {
    background: black;
}

.sc-hKgILt,
.ktdUVV {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === Hover === */
/* = Profile picture = */
.svelte-8gzfq1 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Profile settings = */
.svelte-kdyqkb {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Hover buttons = */
.mh-header-primary,
.svelte-vf0pv9 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === Socials === */
/* = Instagram = */
.mh-social-icon-instagram {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Twitter = */
.mh-social-icon-twitter {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* = Facebook = */
.mh-social-icon-facebook {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === County and li down === */
.mh-country,
.mh-footer-secondary,
.mh-compact,
.svelte-1ouzkfx {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === © 2020 Spotify AB === */
.svelte-1so9ic8 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === li text === */
.svelte-12h6dnj {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* === Profile === */
.kUFerS {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.gDJLCl {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

.dqmtLK {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.eJOcx {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.gBYMyb {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

/* === Notification settings === */
.page-header h1,
.privacy-section-header h2 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

/* WTF you spotify are doing?? Are you dumb fuck? */
.nav-inverse.nav-stacked > li.active > a,
.nav-inverse.nav-stacked > li.active > a:focus,
.nav-inverse.nav-stacked > li.active > a:hover,
.nav-inverse.nav-stacked > li.active > a:active {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.nav-tabs.nav-stacked > li > a {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.submenu-item-notification-settings {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

.form-notifications table thead th:first-child {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.notification-type {
    color: white;
    animation: textli 5s linear 0s infinite alternate;
}

.btn-cancel {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.btn-green,
.btn-primary,
.navbar .navbar-nav .btn-green,
.navbar .navbar-nav .btn-primary {
    color: white;
    animation: background 5s linear 0s infinite alternate;
}

.navbar-highlight-white,
.svelte-1i2hclv {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.takeover .projectRamses-hero,
.gNQnWe.gNQnWe {
    color: white;
    animation: backgroundli 5s linear 0s infinite alternate;
}

.h1 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

h4,
p.lead {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.hidden-xs,
.hidden-sm {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.takeover .takeover-hero h3 {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}

.btn,
.navbar .navbar-nav .navbar-btn {
    color: white;
    animation: text 5s linear 0s infinite alternate;
}


/* KeyFrames for text */
@keyframes text {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

/* KeyFrames for backgrounds */
@keyframes background {
    100%,
    0% {
        background-color: rgb(255, 0, 0);
    }

    8% {
        background-color: rgb(255, 127, 0);
    }

    16% {
        background-color: rgb(255, 255, 0);
    }

    25% {
        background-color: rgb(127, 255, 0);
    }

    33% {
        background-color: rgb(0, 255, 0);
    }

    41% {
        background-color: rgb(0, 255, 127);
    }

    50% {
        background-color: rgb(0, 255, 255);
    }

    58% {
        background-color: rgb(0, 127, 255);
    }

    66% {
        background-color: rgb(0, 0, 255);
    }

    75% {
        background-color: rgb(127, 0, 255);
    }

    83% {
        background-color: rgb(255, 0, 255);
    }

    91% {
        background-color: rgb(255, 0, 127);
    }
}

/* Transparent rainbow background */
@keyframes backgroundli {
    100%,
    0% {
        background-color: rgba(255, 0, 0, .3);
    }

    8% {
        background-color: rgba(255, 127, 0, .3);
    }

    16% {
        background-color: rgba(255, 255, 0, .3);
    }

    25% {
        background-color: rgba(127, 255, 0, .3);
    }

    33% {
        background-color: rgba(0, 255, 0, .3);
    }

    41% {
        background-color: rgba(0, 255, 127, .3);
    }

    50% {
        background-color: rgba(0, 255, 255, .3);
    }

    58% {
        background-color: rgba(0, 127, 255, .3);
    }

    66% {
        background-color: rgba(0, 0, 255, .3);
    }

    75% {
        background-color: rgba(127, 0, 255, .3);
    }

    83% {
        background-color: rgba(255, 0, 255, .3);
    }

    91% {
        background-color: rgba(255, 0, 127, .3);
    }
}

/* Transparent rainbow text */
@keyframes textli {
    100%,
    0% {
        color: rgba(255, 0, 0, .3);
    }

    8% {
        color: rgba(255, 127, 0, .3);
    }

    16% {
        color: rgba(255, 255, 0, .3);
    }

    25% {
        color: rgba(127, 255, 0, .3);
    }

    33% {
        color: rgba(0, 255, 0, .3);
    }

    41% {
        color: rgba(0, 255, 127, .3);
    }

    50% {
        color: rgba(0, 255, 255, .3);
    }

    58% {
        color: rgba(0, 127, 255, .3);
    }

    66% {
        color: rgba(0, 0, 255, .3);
    }

    75% {
        color: rgba(127, 0, 255, .3);
    }

    83% {
        color: rgba(255, 0, 255, .3);
    }

    91% {
        color: rgba(255, 0, 127, .3);
    }
}

/* KeyFrames for fills */
@keyframes fill {
    100%,
    0% {
        fill: rgb(255, 0, 0);
    }

    8% {
        fill: rgb(255, 127, 0);
    }

    16% {
        fill: rgb(255, 255, 0);
    }

    25% {
        fill: rgb(127, 255, 0);
    }

    33% {
        fill: rgb(0, 255, 0);
    }

    41% {
        fill: rgb(0, 255, 127);
    }

    50% {
        fill: rgb(0, 255, 255);
    }

    58% {
        fill: rgb(0, 127, 255);
    }

    66% {
        fill: rgb(0, 0, 255);
    }

    75% {
        fill: rgb(127, 0, 255);
    }

    83% {
        fill: rgb(255, 0, 255);
    }

    91% {
        fill: rgb(255, 0, 127);
    }
}
